body {
    color: rgb(2, 59, 2);
    background-color: orange;
}

section {
background: rgb(9, 101, 239);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}